html {
  scroll-behavior: smooth;
  font-family: var(--font-default);
}

header {
  background: url("../assets/images/hero-image.avif") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  color: var(--white-base);
}

.overlay {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.7),
    rgb(0, 0, 0, 1)
  );
}

nav {
  height: 96px;
}

/*#region Hero Section */
:is(#hero, #about) {
  text-align: center;
  min-height: calc(100svh - 96px);
}

.section-body {
  margin-top: 0px;
  width: 100%;
}

.fade-in-up {
  animation: fadeInUp 2000ms 1 ease-in;
}

.section-body h1 {
  font-size: 3rem;
  line-height: 0.96;
}

.section-body p {
  color: var(--grey-base);
  text-align: left;
}

.section-body button {
  background: var(--primary-base);
  width: max-content;
  padding: 12px 32px;
  border-radius: 4px;

  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 125ms ease-in;
}

.section-body button:is(:hover, :visited, :active, :focus) {
  background: var(--primary-hover);
}
/*#endregion */

/*#region Videos Section */
section#videos {
  background: var(--light-base);
  background: url("../assets/images/main-background.png") repeat center center;
  /* background-size: cover; */
  text-align: center;
}

:is(.works-container, #clients) h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-transform: uppercase;
  line-height: 0.96;
  margin-block: 24px 32px;
  color: var(--primary-base);
}

.works-container > * {
  padding-bottom: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-card {
  border-radius: 6px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.grid-card iframe {
  width: 100%;
  height: 100%;
}

@media (width > 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*#endregion */

/*#region Clients */

#clients {
  background: url("../assets/images/main-background.png") repeat center center;
}

#clients h2 {
  color: var(--primary-base);
  text-align: center;
}

#clients .clients-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 64px 32px;
}

@media (625px < width <= 1024px) {
  #clients .clients-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 1024px) {
  #clients .clients-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.client-item {
  cursor: pointer;
  /* width: 200px; */
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 8px hsla(0, 0%, 10%, 0.5);

  transition: all 125ms ease-in;
}

.client-item:hover {
  scale: 105%;
}

.client-item img {
  width: 100%;
  height: 100%;
}
/*#endregion */

/*#region About */
#about {
  background: url("../assets/images/about-image.png") no-repeat center center;
  background-size: cover;
  color: var(--white-base);
  min-height: 100svh !important;

  animation: clipPathAnimation 10000ms infinite ease-in;
}

#about .section-body {
  margin-top: 24px;
}

#about .section-body p {
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

/*#endregion */

/*#region Footer */

footer.dark-theme {
  background: var(--black-base);
  color: var(--white-base);
}

.footer-brand span {
  letter-spacing: 2px;
}

.footer-brand span span {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
}

footer > ul.social-media {
  margin-block: 24px;
}

footer > ul.social-media svg path:last-child {
  fill: var(--grey-base);
  transition: all 125ms ease-in;
}

footer > ul.social-media svg:hover path:last-child {
  fill: var(--white-base);
}

small.copyrights {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/*#endregion */

/*#region Breakpoints */
@media (width > 375px) {
  .section-body h1 {
    font-size: 4rem;
  }
}

@media (width > 768px) {
  .section-body h1 {
    font-size: 4rem;
  }

  .section-body p {
    font-size: 1.1rem;
  }
}

@media (width > 1024px) {
  main {
    text-align: left;
  }

  :is(#hero, #about) {
    text-align: left;
    min-height: calc(100svh - 96px);
  }

  .section-body {
    margin-top: 0;
    width: 600px;
  }

  .section-body h1 {
    font-size: 6rem;
  }

  .section-body p {
    font-size: 1.2rem;
  }

  :is(.works-container, #clients) h2 {
    font-size: 2.5rem;
  }
}
/*#endregion */

/*#region Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(64px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes clipPathAnimation {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  33% {
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
  }

  67% {
    clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
/*#endregion */
